/*Un cambio para rama master*/
body{
    background-color: red;
}
/*Un cambio mas en master v1.3*/
p{
    background-color: blue;
}
/*Cambio hecho en rama dev*/
#parrafoDev{
    background-color: greenyellow;
}

#parrafoMaster{
    background-color: blueviolet;
}

.parrafoTest{
    background-color: yellow;
}

.parrafoV2{
    background-color: chartreuse;
    text-align: justify;
}