/*Un cambio para rama master*/
body{
    background-color: red;
}
/*Un cambio mas en master v1.3*/
p{
    background-color: blue;
}

#parrafoTest{
    background-color: yellow;
}

#parrafoVersion2{
    background-color: chartreuse;
    text-align: justify;
}